<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Página de Cadastros de Eventos</h1>


<form method="post">

    Nome: <input type="text" value="" name="nome">
    Data: <input type="text" value="" name="data">
    Local: <input type="text" value="" name="local">
    Horário: <input type="text" value="" name="horario">

    <button type="submit" > Salvar</button>

</form>




</body>
</html>

